@{
    ViewBag.Title = "Data Table Example";
    string[] headers = new string[] { "Employee Name", "Company", "Phone", "Country", "City", "Postal Code" };
}
<h2>@ViewBag.Title</h2>

<div class="container">
    <button onclick="toggleContries()">Test Toggle</button>
    <br />
    <br />
    <div class="data-table">
        <table id="dataTable">
            <thead>
                <tr>
                    @foreach (string header in headers)
                    {
                        <th>@header</th>
                    }
                </tr>
            </thead>
        </table>
    </div>
</div>

@Styles.Render("~/Content/jquery.dataTables.min.css")
@section Scripts {
@Scripts.Render("~/Scripts/jquery.dataTables.min.js")
<script>
    const columns = [],
        headers = [];
    let isUsa = false;
    let dataTable;
    const toggleContries =
        () => {
            isUsa = !isUsa;
            isUsa ?
                dataTable.search("USA").draw() :
                dataTable.search("").draw();
        }

    @foreach (string header in headers)
        {
        @:headers.push("@header");
    }
        headers.forEach(header => columns.push({ "data": header.replace(" ", ""), "autoWidth": true }));

    $(document).ready(() => {
        dataTable = $("#dataTable").DataTable({
            "ajax": {
                "url": "/Home/LoadTableData",
                "type": "GET",
                "datatype": "json"
            },
            "columns": columns
        });
    });
</script>
}
@Styles.Render("~/Content/data-tables.css")
